body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
}
.orange-color{
    color:orange;
    
}
 .letter{
    font-size: 40px;
} 
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width img{
    width:80%;
}
.linked-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
}
.background-banner{
    background-image: url(background/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(background/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(background/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ex-heading{
    font-size: 30px;
    font-weight: 500;
}
.experience-items{
    width: 40%;
    box-shadow: 10px 10px 10px 10px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 100px;
}
#full-stack-develop{
    border:7px solid;
    border-image:linear-gradient(purple,tomato);
    border-image-slice: 0 0 0 1;
}
#baby-web-develop{
    border:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 0 0 0 5; 
}
footer{
    text-align: center;
}